
@{ 
    ViewBag.Title = "Category Page";
    Layout = null;
}
@using OnlineShop.Models;
@model IEnumerable<Category>

    <h3>Categories</h3>
    <ul class="cate">
        @foreach (var c in Model)
        {
            <li><a href="products.html">@c.Name</a> <span>(15)</span></li>
        }
        <li><a href="products.html">Best Selling</a> <span>(15)</span></li>
        <li><a href="products.html">Boys</a> <span>(16)</span></li>
        <ul>
            <li><a href="products.html">Accessories</a> <span>(2)</span></li>
            <li><a href="products.html">Coats & Jackets</a> <span>(5)</span></li>
            <li><a href="products.html">Jeans</a> <span>(1)</span></li>
            <li><a href="products.html">Custom Logo</a> <span>(0)</span></li>
            <li><a href="products.html">Suits</a> <span>(1)</span></li>
            <li><a href="products.html">Polo Shirts</a> <span>(0)</span></li>
        </ul>
        <li><a href="products.html">Sales</a> <span>(15)</span></li>
        <li><a href="products.html">Sport</a> <span>(15)</span></li>
        <ul>
            <li><a href="products.html">Jackets</a> <span>(2)</span></li>
            <li><a href="products.html">T-Shirts</a> <span>(0)</span></li>
            <li><a href="products.html">Shoes</a> <span>(1)</span></li>
            <li><a href="products.html">Shorts</a> <span>(4)</span></li>
            <li><a href="products.html">Accessories</a> <span>(2)</span></li>
        </ul>
    </ul>