  <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@vntraditionalshop.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <ul class="nav navbar-nav">
                            <li class="wthreesearch">
                                <form action="#" method="post">
                                    <input type="search" name="Search" placeholder="Search for a Product" required="">
                                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Login","Account")"><i class="fa fa-unlock-alt" aria-hidden="true">&nbsp;Login</i></a></li>
                                <li><a href="@Url.Action("Index","MyCart")"><i class="fa fa-shopping-cart" aria-hidden="true">&nbsp;Cart</i></a></li>
                            </ul>
                        </div>
                    </div>    
                </div>                 
            </div>
            <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5">
                    <div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->


