@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="container-fluid">  
    @Html.Partial("_Slider")
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("CategoryImages")
        </div>
    </div>
</div>

