<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="w3slideraits" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                        <li data-target="#slider-carousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>VietNam</span>&nbsp; Traditional</h1>
                                <h2>Sale off 50%</h2>
                                <p>Shop a vibrant blend of both this season’s hottest trends & everyday wardrobe-essentials.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/assets/client/images/Women/baba/bb3.jpg"  class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>VietNam</span>&nbsp;Traditional</h1>
                                <h2>Quality</h2>
                                <p>Shop a vibrant blend of both this season’s hottest trends & everyday wardrobe-essentials.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/assets/client/images/Women/AoDai/ao-dai-vietnam.jpg" width="50%" height="50%"class="girl img-responsive" alt="" />                             
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>VietNam</span>&nbsp;Traditional</h1>
                                <h2>Free Ship</h2>
                                <p>Shop a vibrant blend of both this season’s hottest trends & everyday wardrobe-essentials.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/assets/client/images/Women/baba/bb1.jpg" class="girl img-responsive" alt="" />                               
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>VietNam</span>&nbsp;Traditional</h1>
                                <h2>Services </h2>
                                <p>Shop a vibrant blend of both this season’s hottest trends & everyday wardrobe-essentials.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>

                            <div class="col-sm-6">
                                <img src="/assets/client/images/Women/baba/bb2.jpg"  class="girl img-responsive" alt="" />                        
                            </div>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->